
    <div class="artist-modal is-hidden" data-modal>
      <div class="artist-modal-backdrop" data-modal-backdrop></div>
      <div class="artist-modal-content" id="modal-inner-content">
        <button class="artist-modal-close" type="button" data-modal-close>
          <svg class="icon" width="14" height="14">
            <use href="img/icons.svg#icon-close"></use>
          </svg>
        </button>
        
      
    
    <h2 class="artist-modal-title">Unlike Pluto</h2>

    <div class="artist-modal-info">
      <img
        src="./img/Frame-51.png"
        alt="Unlike Pluto"
        class="artist-modal-img"
      />

      <div class="artist-modal-bio">
        <ul class="artist-meta-list">
          <li><strong>Years active</strong> 2013–present</li>
          <li><strong>Sex</strong> Male</li>
          <li><strong>Members</strong> 1</li>
          <li><strong>Country</strong> United States</li>
        </ul>

        <div class="artist-bio">
          <h3 class="bio-title">Biography</h3>
          <p>
            Armond Arabshahi, known by his stage name Unlike Pluto, is an
            American singer, songwriter, music producer, and former DJ. He is
            mainly known for his song "Everything Black", released under the
            record label Monstercat in 2017, which he produced with
            Philadelphia-based vocalist and DJ Mike Taylor.
          </p>
        </div>

        <ul class="artist-tags">
          <li>Alternative</li>
          <li>Pop</li>
          <li>Rock</li>
          <li>Indie</li>
        </ul>
      </div>
    </div>

    <div class="artist-albums">
      <h3>Albums</h3>
      <div class="album-grid">
        <div class="album-card">
          <h4>Ghost Gardens</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li>
              <span>Rip Me Apart</span><span>3:02</span
              ><a href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Dig</span><span>2:54</span></li>
            <li>
              <span>Tremor</span><span>2:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Lethal Poetry</span><span>3:32</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Lost Inside</span><span>3:54</span></li>
            <li>
              <span>Flutter</span><span>1:49</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Fragile Skin Of Me</span><span>2:15</span></li>
            <li>
              <span>Is It Victory</span><span>2:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Misery</span><span>2:56</span></li>
            <li>
              <span>One On One</span><span>3:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
            <li><span>Glory</span><span>2:56</span></li>
            <li><span>Black Lotus</span><span>3:02</span></li>
            <li>
              <span>Frozen In Time</span><span>3:33</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Clouded</span><span>3:10</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="album-card">
          <h4>Cherry Blossom Nightmare</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li>
              <span>Rip Me Apart</span><span>3:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Dig</span><span>2:54</span></li>
            <li><span>Fragile Skin Of Me</span><span>2:15</span></li>
            <li>
              <span>Is It Victory</span><span>2:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Misery</span><span>2:56</span></li>
            <li>
              <span>One On One</span><span>3:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
          </ul>
        </div>

        <div class="album-card">
          <h4>Pixelated Oblivion</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li>
              <span>Rip Me Apart</span><span>3:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Dig</span><span>2:54</span></li>
            <li>
              <span>Tremor</span><span>2:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Lethal Poetry</span><span>3:32</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
            <li><span>Glory</span><span>2:56</span></li>
            <li><span>Black Lotus</span><span>3:02</span></li>
            <li>
              <span>Frozen In Time</span><span>3:33</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Clouded</span><span>3:10</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="album-card">
          <h4>Loud Fantasy, Quiet Reality</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li><span>Fragile Skin Of Me</span><span>2:15</span></li>
            <li>
              <span>Is It Victory</span><span>2:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Misery</span><span>2:56</span></li>
            <li>
              <span>One On One</span><span>3:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
          </ul>
        </div>

        <!-- Повтор тех же альбомов для карточек 5–8 -->
        <div class="album-card">
          <h4>Cherry Blossom Nightmare</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li>
              <span>Rip Me Apart</span><span>3:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Dig</span><span>2:54</span></li>
            <li><span>Fragile Skin Of Me</span><span>2:15</span></li>
            <li>
              <span>Is It Victory</span><span>2:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Misery</span><span>2:56</span></li>
            <li>
              <span>One On One</span><span>3:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
          </ul>
        </div>

        <div class="album-card">
          <h4>Pixelated Oblivion</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li>
              <span>Rip Me Apart</span><span>3:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Dig</span><span>2:54</span></li>
            <li>
              <span>Tremor</span><span>2:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Lethal Poetry</span><span>3:32</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
            <li><span>Glory</span><span>2:56</span></li>
            <li><span>Black Lotus</span><span>3:02</span></li>
            <li>
              <span>Frozen In Time</span><span>3:33</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Clouded</span><span>3:10</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="album-card">
          <h4>Loud Fantasy, Quiet Reality</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li><span>Fragile Skin Of Me</span><span>2:15</span></li>
            <li>
              <span>Is It Victory</span><span>2:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Misery</span><span>2:56</span></li>
            <li>
              <span>One On One</span><span>3:12</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
          </ul>
        </div>

        <div class="album-card">
          <h4>Ghost Gardens</h4>
          <div class="track-header">
            <span>Track</span><span>Time</span><span>Link</span>
          </div>
          <ul class="track-list">
            <li>
              <span>Rip Me Apart</span><span>3:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Dig</span><span>2:54</span></li>
            <li>
              <span>Tremor</span><span>2:02</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Lethal Poetry</span><span>3:32</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li><span>Infinity</span><span>3:24</span></li>
            <li><span>Glory</span><span>2:56</span></li>
            <li><span>Black Lotus</span><span>3:02</span></li>
            <li>
              <span>Frozen In Time</span><span>3:33</span
              ><a href="#">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <span>Clouded</span><span>3:10</span
              ><a href="index.html">
                <svg class="icon" width="24" height="24">
                  <use href="img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>