<section id="#artists">
    <div class="container">
      <h2 class="artists-title">Artists</h2>
      <h3 class="artists-dscr">Explore Your New Favorite Artists</h3>
      <div class="artists-list">
        <div class="artists-grid" id="artistsContainer"></div>
        <button class="load-more" id="loadMoreBtn">Load More</button>

        <div class="modal" id="modal">
            <div class="modal-content">
                <div id="modalContent"></div>
            </div>
        </div>
      </div>


</section>