<section class="feed-back" id="reviews">
  <div class="container feed-back-container">
    <div class="swiper modal-product__slider">
      <div class="swiper-wrapper"></div>

      <div class="my-slider-controls">
        <button class="custom-prev">
          <svg class="more-btn-icon">
            <use href="/img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="custom-next">
          <svg class="more-btn-icon">
            <use href="/img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>

      <div class="swiper-pagination">
        <span class="bullet left" data-slide="0"></span>
        <span class="bullet center" data-slide="middle"></span>
        <span class="bullet right" data-slide="last"></span>
      </div>
    </div>
  </div>
</section>