<section class="hero container">
  <div class="hero-content">
    <h1>Discover Your Next Favorite Artist Today</h1>
    <p>
      Dive into a world of music discoveries with ArtistsHub – your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>
    <a href="#artistsContainer" class="explore-btn">
      Explore Artists
      <svg width="24" height="24" class="explore-btn-icon">
        <use href="/img/icons.svg#icon-hollow-arrow"></use>
      </svg>
    </a>
  </div>
  <div class="hero-background"></div>
</section>
