/* .artists-section {
} */

.artists-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.artists-slogan {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.artist-card {
  overflow: hidden;
  padding: 0px;
}

.artist-card img {
  width: 100%;
  height: 177px;
  object-fit: cover;
  object-position: top center;
  border-radius: 16px;
  margin-bottom: 24px;
}
.artist-genres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.genres-list-item {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  background-color: #060307;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}

.artist-card h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
}

.artist-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
}

.learn-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #060307;
  color: #fff;
  gap: 8px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 32px;
}

.learn-more-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.load-more {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #764191;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
}

.load-more-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.hidden {
  display: none !important;
}

/* Tablet Styles */
@media (min-width: 768px) {
  .artist-card img {
    height: 433px;
    object-fit: cover;
    object-position: top center;
  }

  .load-more {
    width: 340px;
    margin: 0 auto;
  }
}

/* Desktop Styles */
@media (min-width: 1440px) {
  .artists {
    gap: 32px;
    flex-wrap: wrap;
  }
  .artist-card {
    width: calc(50% - 16px);
  }
  .artist-card img {
    width: 100%;
    height: 433px;
    object-fit: cover;
    object-position: top center;
  }

  .load-more {
    width: 340px;
    margin: 0 auto;
  }
}
