:root {
  /* default font-family: IBM Plex Sans; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #060307;
  color: #fff;
  display: flex;
  flex-direction: column;
}